<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex align-items-center flex-column bg-color">
    <div class="w-50 mb-3 form-group">
      <%= form.label t(:image_profile) %>
      <%= form.text_field :image_profile, class: "form-control" %>
    </div>

    <div class="w-50 mb-3 form-group">
      <%= form.label t(:name_user) %>
      <%= form.text_field :name_user, class: "form-control"%>
    </div>

    <div class="w-50 mb-3 form-group">
      <%= form.label t(:email) %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <% if current_user.nil? %>
      <div class="w-50 mb-3 form-group">
        <%= form.label t(:phone) %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>
    <% else %>
      <div class="w-50 mb-3 form-group">
        <fieldset disabled>
          <div id="disabledTextInput">
            <%= form.label t(:phone) %>
            <%= form.text_field :phone, class: "form-control" %>
          </div>
        </fieldset>
      </div>
    <% end %>

    <div class="w-50 mb-3 form-check form-switch">
      <%= form.label t(:public_permission), class: "form-check-label" %>
      <%= form.check_box(:public_permission, { class: "form-check-input" }, true, false) %>
    </div>

    <div class="w-50 mb-3 form-group">
      <%= form.label t(:cpf) %>
      <%= form.text_field :cpf, class: "form-control" %>
    </div>

    <div class="d-flex align-content-center">
      <div class="w-50 mb-3 form-group ">
        <%= form.label t(:gender) %>
        <%= form.select :gender, ["Masculino", "Feminino", "Outros"], class: "form-control" %>
      </div>

      <div class="w-50 mb-3 form-group">
        <%= form.label t(:profile) %>
        <%= form.select :profile, ["Guest", "Back", "Front"], class: "form-control" %>
      </div>
    </div>
    
    <div class="actions">
      <%= form.submit nil, class: "btn btn-success"%>
    </div>
  </div>
<% end %>