<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered border-secondary">
  <thead class="table-dark margin-left">
    <tr>
      <th>Name user</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Cpf</th>
      <th>Gender</th>
      <th>Profile</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= current_user.name_user %></td>
      <td><%= current_user.email %></td>
      <td><%= current_user.phone %></td>
      <td><%= current_user.cpf %></td>
      <td><%= current_user.gender %></td>
      <td><%= current_user.profile %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
