<p id="notice"><%= notice %></p>
<div class="col-lg-8" style="margin-left: auto; margin-right: auto;">
  <div class="card mb-4 bg-color">
      <h2 class="text-center"><b><%= " #{t(:profile)}: #{current_user.name_user} "%></b></h2>
    <div class="rounded-top d-flex flex-row color" style=" height:200px;">
      <div class="ms-4 mt-5 d-flex flex-column">
        <%= image_tag current_user.image_profile, size: "180x180", class: "mb-2 circle-image center-middle" %>
        <%= link_to t(:edit), edit_user_path(@user), class: "btn btn-dark button-middle-end", style: "width: 150px"%>
        <%= link_to t(:back), user_profile_path, class: "btn btn-dark button-middle-start", style: "width: 150px"%>
      </div>
    </div>
    <div class="card-body justify-content-center align-items-center">
      <div class="row" style="margin-top: 32px">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:name_user) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.name_user %> </i> </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:email) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.email %> </i> </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:phone) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.phone %> </i> </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:cpf) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.cpf %> </i> </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:gender) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.gender %> </i> </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 ms-5"><%= t(:profile) %></p>
        </div>
        <div class="col-sm-9">
          <p class="mb-0 text-center"> <i> <%= current_user.profile %> </i> </p>
        </div>
      </div>
    </div>
  </div>
</div>







